$color-background: #F9F9F9;
$color-main-theme: #7815B2;
$color-container-background: lighten(#7815B2, 80%);
$color-progress-bar: darken($color-background, 15%);

$page-side-margin: 10%;
$section-padding: 20px;
$container-border-radius: 8px;
$progress-height: 10px;
$header-height: 55px;

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  height: 100%;
  background: $color-background;
  margin: 0px;
}

.container {
}

a[href] {
  text-decoration: none;
  font-weight: bold;
  color: darken($color-background, 30%);
  transition: color 250ms linear;

  &:hover,
  &.toggled {
    color: $color-main-theme;
    transition: color 250ms linear;
  }
}

.menu-header {
  display: flex;
  position: fixed;
  top: 0px;
  background: white;
  border-bottom: 1px solid lightgrey;
  box-shadow: 2px 1px 2px lightgrey;
  width: 100%;
  overflow: hidden;
  height: $header-height;
  max-height: $header-height;

  -webkit-transition: top 0.3s, max-height 0.15s ease-out;
  transition: top 0.3s, max-height 0.15s ease-out;

  &.collapsed {
    top: -$header-height;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
  }

  &.opened {
    display: block;
    height: auto;
    max-height: 600px;
    -webkit-transition: max-height 0.15s ease-in;
    transition: max-height 0.15s ease-in;

    .drop-down-menu {
      display: block;
    }
  }

  .title {
    font-size: 16px;
    font-weight: bold;
    padding-left: $section-padding;
  }

  .hamburger-icon {
    display: none;
  }

  .drop-down-menu {
    margin-right: $section-padding;
    margin-left: auto;
  }

  .menu {
    display: flex;
  }
  
  @media screen and (max-width: 600px) {
    display: block;

    .hamburger-icon {
      display: block;
      height: 30px;
      width: 30px;
      cursor: pointer;
      margin: 10px $section-padding auto auto;
    }

    .header-row {
      display: flex;
      flex-grow: 1
    }

    .drop-down-menu {
      text-align: right;
    }

    .menu {
      display: block;

      &.collapsed {
        display: none;
      }

      li {
        padding-bottom: 12px;
      }
    }
  }

  li {
    padding-top: 2px;
    padding-right: 7px;
  }

  .nav {
    text-decoration: none;
    font-weight: bold;
    color: darken($color-background, 30%);//$color-main-theme;
    transition: color 250ms linear;

    &:hover,
    &.toggled {
      color: $color-main-theme;
      transition: color 250ms linear;
    }
  }
}

.block-container {
  padding-top: 100px;
  margin: 0% $page-side-margin;
  
  .title {
    font-weight: normal;
  }
}

.subsection-container {
  margin-bottom: $section-padding;
  padding: $section-padding;
  border-radius: $container-border-radius;
  background: white;
 // transition: background-color 500ms linear;

  //&:hover {
  //  background: lighten($color-main-theme, 50%);
  //}

  h2 {
    font-size: 12px;
    margin: 0px;
  }

  .header {
    display: flex;

    .title, .position {
      font-size: 16px;
    }

    .date {
      text-align: right;
      flex-grow: 1;
    }
  }

  .job-skills-list {
    display: flex;
    padding: 0px;

    li {
      display: inline;
      padding: 4px;
      font-size: 12px;
      color: $color-main-theme;
      border: 1.5px solid black;
      border-right: none;

      &:first-child {
        border-top-left-radius: $container-border-radius;
        border-bottom-left-radius: $container-border-radius;
      }

      &:last-child {
        border-top-right-radius: $container-border-radius;
        border-bottom-right-radius: $container-border-radius;
        border-right: 1.5px solid black;
      }
    }
  }
}

.introduction {
  margin: 0px;
  padding: 30% 10% 10% 10%;
  background: $color-main-theme;
  color: white;

  h1 {
    text-align: center;
  }

  .profile-picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
}

.skills-list {
  display: flex;

  .skills-column {
    flex-grow: 1;
    flex-basis: 0;

    &.left {
      padding-left: 0px;
    }
  }
}

.progress-wrapper {
  height: $progress-height;
  margin-bottom: 10px;

  .progress-bar {
    height: 100%;
    background: $color-progress-bar;
  }

  .progress {
    height: 100%;
    margin-top: -$progress-height;
    background: $color-main-theme;
  }
}

.contact-container {
  display: flex;
  justify-content: center;

  a {
    padding: 0px 4px;
  }
}

ul {
  list-style: none;
}
