body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  height: 100%;
  background: #F9F9F9;
  margin: 0px; }

a[href] {
  text-decoration: none;
  font-weight: bold;
  color: #adadad;
  transition: color 250ms linear; }
  a[href]:hover, a[href].toggled {
    color: #7815B2;
    transition: color 250ms linear; }

.menu-header {
  display: flex;
  position: fixed;
  top: 0px;
  background: white;
  border-bottom: 1px solid lightgrey;
  box-shadow: 2px 1px 2px lightgrey;
  width: 100%;
  -webkit-transition-property: top;
  -webkit-transition-duration: 0.3s;
  transition-property: top;
  transition-duration: 0.3s; }
  .menu-header.collapsed {
    top: -55px;
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.3s;
    transition-property: top;
    transition-duration: 0.3s; }
  .menu-header .title {
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px; }
  .menu-header .menu {
    display: flex;
    margin-right: 20px;
    margin-left: auto; }
    @media screen and (max-width: 600px) {
      .menu-header .menu {
        display: none;
        visibility: hidden; } }
  .menu-header li {
    padding-top: 2px;
    padding-right: 7px; }
  .menu-header .nav {
    text-decoration: none;
    font-weight: bold;
    color: #adadad;
    transition: color 250ms linear; }
    .menu-header .nav:hover, .menu-header .nav.toggled {
      color: #7815B2;
      transition: color 250ms linear; }

.block-container {
  padding-top: 100px;
  margin: 0% 10%; }
  .block-container .title {
    font-weight: normal; }

.subsection-container {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background: white; }
  .subsection-container h2 {
    font-size: 12px;
    margin: 0px; }
  .subsection-container .header {
    display: flex; }
    .subsection-container .header .title, .subsection-container .header .position {
      font-size: 16px; }
    .subsection-container .header .date {
      text-align: right;
      flex-grow: 1; }
  .subsection-container .job-skills-list {
    display: flex;
    padding: 0px; }
    .subsection-container .job-skills-list li {
      display: inline;
      padding: 4px;
      font-size: 12px;
      color: #7815B2;
      border: 1.5px solid black;
      border-right: none; }
      .subsection-container .job-skills-list li:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px; }
      .subsection-container .job-skills-list li:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-right: 1.5px solid black; }

.introduction {
  margin: 0px;
  padding: 30% 10% 10% 10%;
  background: #7815B2;
  color: white; }
  .introduction h1 {
    text-align: center; }
  .introduction .profile-picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px; }

.skills-list {
  display: flex; }
  .skills-list .skills-column {
    flex-grow: 1;
    flex-basis: 0; }
    .skills-list .skills-column.left {
      padding-left: 0px; }

.progress-wrapper {
  height: 10px;
  margin-bottom: 10px; }
  .progress-wrapper .progress-bar {
    height: 100%;
    background: lightgray; }
  .progress-wrapper .progress {
    height: 100%;
    margin-top: -10px;
    background: #7815B2; }

.contact-container {
  display: flex;
  justify-content: center; }
  .contact-container a {
    padding: 0px 4px; }

ul {
  list-style: none; }

/*# sourceMappingURL=main.css.map */
