$color-background: #F9F9F9;
$color-container-border: black;

$section-padding: 10px;
$container-border-radius: 8px;

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  height: 100%;
  background: $color-background;
}

.container {
  margin: 0% 10%;
}

.menu-header {
  display: flex;
  position: fixed;
  background: $color-background;
  margin-top: -10px;

  .title {
    font-size: 20px;
  }

  .menu {
    display: flex;
  }
  
  li {
    padding-top: 2px;
    padding-right: 4px;
  }
}

.block-container {
  padding-top: 100px;
  
  .title {
//    padding-left: 10px;
    font-weight: normal;
  }
}

.subsection-container {
  margin-bottom: $section-padding;
  padding: $section-padding;
  border-radius: $container-border-radius;
  border: 2px solid $color-container-border;

  h2 {
    font-size: 12px;
    margin: 0px;
  }

  .header {
    display: flex;

    .date {
      text-align: right;
      flex-grow: 1;
    }
  }
}

.introduction {
  padding-top: 30%;
}

ul {
  list-style: none;
}
